<html>

<head>
	<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
	<style type="text/css">
		span.cls_006 {
			font-family: "Palatino Linotype", serif;
			font-size: 12.5px;
			color: rgb(0, 0, 204);
			font-weight: normal;
			font-style: normal;
			text-decoration: none
		}

		div.cls_006 {
			font-family: "Palatino Linotype", serif;
			font-size: 12.5px;
			color: rgb(0, 0, 204);
			font-weight: normal;
			font-style: normal;
			text-decoration: none
		}

		span.cls_007 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 13.0px;
			color: rgb(0, 0, 153);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		div.cls_007 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 13.0px;
			color: rgb(0, 0, 153);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		span.cls_008 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 17.1px;
			color: rgb(0, 0, 153);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		div.cls_008 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 17.1px;
			color: rgb(0, 0, 153);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		span.cls_009 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 14.1px;
			color: rgb(0, 0, 153);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		div.cls_009 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 14.1px;
			color: rgb(0, 0, 153);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		span.cls_010 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 25.0px;
			color: rgb(0, 128, 0);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		div.cls_010 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 25.0px;
			color: rgb(0, 128, 0);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		span.cls_011 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 20.1px;
			color: rgb(0, 0, 153);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		div.cls_011 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 20.1px;
			color: rgb(0, 0, 153);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		span.cls_012 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 14.1px;
			color: rgb(0, 0, 204);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		div.cls_012 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 14.1px;
			color: rgb(0, 0, 204);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		span.cls_015 {
			font-family: Arial, serif;
			font-size: 10.0px;
			color: rgb(0, 0, 153);
			font-weight: normal;
			font-style: normal;
			text-decoration: none
		}

		div.cls_015 {
			font-family: Arial, serif;
			font-size: 10.0px;
			color: rgb(0, 0, 153);
			font-weight: normal;
			font-style: normal;
			text-decoration: none
		}

		span.cls_016 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 14.1px;
			color: rgb(0, 0, 102);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}

		div.cls_016 {
			font-family: "Palatino Linotype Bold", serif;
			font-size: 14.1px;
			color: rgb(0, 0, 102);
			font-weight: bold;
			font-style: normal;
			text-decoration: none
		}
	</style>
	<script type="text/javascript"
		src="6cebfc6c-3282-11ec-a980-0cc47a792c0a_id_6cebfc6c-3282-11ec-a980-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>

<body>
	<div
		style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
		<div style="position:absolute;left:0px;top:0px">
			<img src="https://res.cloudinary.com/dfzxukhfp/image/upload/v1634837483/background1_mtpi5s.jpg" width=612
				height=792>
		</div>
		<div style="position:absolute;left:157.82px;top:162.26px" class="cls_006"><span class="cls_006">ĐẠI HỌC QUỐC GIA
				THÀNH PHỐ HỒ CHÍ MINH</span></div>
		<div style="position:absolute;left:137.78px;top:180.86px" class="cls_006"><span class="cls_006">TRƯỜNG ĐẠI HỌC KHOA
				HỌC XÃ HỘI VÀ NH N V"N</span></div>
		<div style="position:absolute;left:101.54px;top:199.34px" class="cls_007"><span class="cls_007">TRUNG TÂM PHÁT TRIỂN
				NÔNG THÔN - SAEMAUL UNDONG</span></div>
		<div style="position:absolute;left:258.05px;top:241.10px" class="cls_008"><span class="cls_008">GIÁM ĐỐC</span>
		</div>
		<div style="position:absolute;left:85.82px;top:271.49px" class="cls_009"><span class="cls_009">TRUNG TÂM PHÁT TRIỂN
				NÔNG THÔN - SAEMAUL UNDONG</span></div>
		<div style="position:absolute;left:211.25px;top:306.77px" class="cls_010"><span class="cls_010">CHỨNG NHẬN</span>
		</div>
		<div style="position:absolute;left:194.66px;top:352.13px" class="cls_011"><span class="cls_011">
			<% if (students.length > 0) { %>
				<% students.forEach(student => {%>
					<tr><td><%= student.title %></td></tr>
			<%	});%>
			<% }%>
			</span></div>
		<div style="position:absolute;left:112.46px;top:391.61px" class="cls_012"><span class="cls_012">Giám đốc Sở Nông
				nghiệp và Phát triển Nông thôn TP.HCM</span></div>
		<div style="position:absolute;left:133.22px;top:421.51px" class="cls_011"><span class="cls_011">Đã ho¥n th¥nh chương
				trình tập huấn</span></div>
		<div style="position:absolute;left:119.42px;top:454.51px" class="cls_011"><span class="cls_011">“CHUỖI TẬP HUẤN
				CHƯƠNG TRÌNH</span></div>
		<div style="position:absolute;left:84.62px;top:487.51px" class="cls_011"><span class="cls_011">MỖI XÃ MỘT SẢN PHẨM
				(OCOP) NĂM 2021”</span></div>
		<div style="position:absolute;left:180.50px;top:520.15px" class="cls_009"><span class="cls_009">Từ ngày 28/09/2021
				đến ngày 13/10/2021</span></div>
		<div style="position:absolute;left:77.42px;top:662.50px" class="cls_015"><span class="cls_015">Số CN:
				01/2021/TTPTNT-SU</span></div>
		<div style="position:absolute;left:325.49px;top:671.86px" class="cls_016"><span class="cls_016">PGS. TS. Ngô Thị
				Phương Lan</span></div>
		<div style="position:absolute;left:77.42px;top:683.86px" class="cls_015"><span class="cls_015">Ngày cấp:
				13/10/2021</span></div>
	</div>

</body>

</html>